html {
     -webkit-var-brandcolor: orange;
 }

 section {
  -webkit-var-brandcolor: red;
  }

  h1 { color: -webkit-var(brandcolor)  }




li {list-style-type: circle  }

@supports (list-style-type: thumbs-up) {
    li {list-style-type: thumbs-up  }
}


:target {
    background:blue;
    -webkit-var-brandcolor: white;
    color: gray
}



table th:nth-of-type(1) {
    color:darkred;
}

td:empty, th:empty {
    background-color: red;
}


ol li:not(:last-of-type) {
    color: green;
}


nav a:not(.selected) {
color: gray
}


input:placeholder-shown {
    font-size:100px
}


input:invalid {
    border:5px red solid;
}


.theflexboxyeah {

    padding:50px;
}

.theflexboxyeah ul {
    display:flex;
}

.theflexboxyeah li{
    flex:1;
    border: 1px solid red;
    list-style-type:none;

}


.theflexboxyeah li:nth-child(2) {
    flex:2;
}


#border-radius-madness {
    border: 1px solid red;
    height:100px;
    width:100px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0 ;
}